
  @keyframes head {
    0% {
      
      opacity: 0;
      /* Add other initial styles as needed */
    }
    100% {
      opacity: 1;
      /* Add other final styles as needed */
    }
  }
  
  .animate-head {
    animation: head 2s ease-in-out 1 forwards;
  }
  
  @keyframes showcontent {
    0% {
      transform: translateY(50%);
      opacity: 0;
      
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      
    }
  }
  
  .animate-showcontent {
    animation: showcontent 1s ease-in-out 1 forwards;
  }
  