@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Poppins:wght@200&family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Exo&family=Poppins:wght@200&family=Tourney:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.font {
  font-family: "Poppins", sans-serif !important;
}
.docHead {
    font-family: 'Advent Pro', sans-serif !important;
    
}
.docName {
    font-family: 'Exo', sans-serif !important;
}
.contents {
    font-family: 'Exo', sans-serif;
}
.navhead {
    font-family: 'Roboto', sans-serif;
}

.scrollBar {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #023E8A;
  
    --sb-size: 8px;
  
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
  
  .scrollBar::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .scrollBar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
  }
  
  .scrollBar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
  }

.scrollBarDoctor {
    --sb-track-color: #828282;
    --sb-thumb-color: #fff;
  
    --sb-size: 8px;
  
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
  
  .scrollBarDoctor::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .scrollBarDoctor::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
  }
  
  .scrollBarDoctor::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
  }

  
  